<% @teams.each do |team| %>
  <div>
    <h1><%= team.name %></h1><br />
    <i><%= team.location %></i><br />
    <p><%= team.stadium %></p><br />
    <p><%= team.description %></p><br />
  </div>

  <hr />

  <% end %>