<% @teams.each do |team| %>
  <div class="team-box col-xs-10 offset-xs-1">
    <h1><%= team.name %></h1>
    <i><%= team.location %></i><br />
    <p><%= team.stadium %></p>
    <p><%= team.description %></p><br />
  </div>

  <% end %>